 :root{
    --bs-breakpoint-sm: 375px;
}


 * {
        box-sizing: border-box;
    }

.navbar{
    background-color: black;
}

.color-home{
    color: white;
}

.container-menu{
    display: none;
}

.menu-line, .img-mobile{
    display: none;
}

.text-color{
    color: white;
}

.carousel-text{
    top: 50%;
}

.carousel-title-woman{
    font-size: 2.5rem;
    font-weight: 500;
    text-align: right;
    
}

.carousel-text-woman{
    font-size: 1.25rem;
    font-weight: 400;
    text-align: right;
   }

.carousel-title-man{
    font-size: 2.5rem;
    font-weight: 500;
    text-align: left;
}

.carousel-text-man{
    font-size: 1.25rem;
    font-weight: 400;
    text-align: left;
     
}

.busca-titulo{
    margin: 72px 32px;
    font-size: 32px;
    font-weight: 500;
}

.card-buscar{
    display: flex;    
    gap: 2em;
    justify-content: center;
    margin-bottom: 2em;
}

.card-buscar_categoria{
    width: 8em;
    font-size: 16px;
    line-height:0%;
}

.produtos{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    width: 1110px;
    margin:auto;
}

.card-produtos{
    width: 350px;
    align-items: center;
    border-radius: 0;
    border-top: 0;
}

.card-produtos img{
    width: 349;
    height: 422px;
}

.card-title{
    font-weight: 700;
}

.card-text{
    line-height: 1em;
    font-size: 14px;
}

.valor{
    font-weight: bold;
    padding-bottom: 1em;
}

.card-link{
    text-decoration: none;
    color: white;
    border: 0.5em solid rgb(147 83 255);
    background-color: rgb(147 83 255);
}

.facilidades{
    background-color: black;
    margin-top: 83px;
}

.facilidades h2{
    color: white;
    text-align: center;
    padding: 1.5em 0;
}

.facilidades-lista{
    display: flex;
    justify-content: center;
    gap: 2em;
    padding-bottom: 2.5em;
    margin: auto;
}

.facilidades-lista_item{
    display: flex;
    width: 19em;
    align-items: center;
    gap: 1.5em;
}

.facilidades-titulo{
    color: #DAFF01;
    font-weight: 700;
}

.facilidades-texto{
    color: white;
    font-size: 13px;
    margin-bottom: 0;
    line-height: 20px;
}

.novidades{
    padding: 2.5em 0;
    gap: 1em;
    margin: 20px 0 ;
}

.novidades-div{
    display: flex;
    width: 45.5em;
    padding: 2.5em;
    align-items: center;
    flex-wrap: wrap;
    border: 2px solid black;
    margin: auto;
    gap: 1.5em;
}

.novidades-titulo{
    color: #212529;
    text-align: center;
    font-size: 20px;
}

.novidades-email{
   width: 34.4em;
   display: flex;
   margin: auto;
}

.btn-email{
    color: white;
    border: none;
    border-radius: 0;   
    background-color: rgb(147 83 255);
}

.rodape{
    background-color: black;
    color: white;
    padding: 1em 0;
    display: flex;
    justify-content: center;
}

    .text-footer{
        margin: 0 2px;
        font-size: 13px;        
    }

    .carousel-mobile{
        display: none;
    }

/* -----TABLET------ */

@media screen and (max-width: 768px){

    .navbar{
        flex-wrap: nowrap;
   }

    .nav-item{
        font-size: 13px;
    }

   .border-search{
    width: 9em;
   }

   .btn-search{
    font-size: 13px;
    }

    .carousel-text{
        top: 20%;
    }

    .carousel-title-woman, .carousel-title-man{
        font-size: 1.5rem;
    }

    .carousel-text-woman, .carousel-text-man{
        font-size: 1rem;
   }

   .busca-titulo{
        margin: 40px 32px;
        font-size: 28px;
   }

    .card-buscar{
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 2.8em;
    }
    
    .card-buscar_categoria {
        width: 211px;
    }

    .text-center{
        margin-bottom: 32px;
    }

    .produtos{
        width: 768px;
        padding: 0 2.4em;
    }

    .card-produtos{
       width: 330px;
    }

    .card-produtos img{
      width: 330px;
      height: 389px;
    }

    .facilidades-lista{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .novidades-div{
        width: 690px;
    }
}

/* ///////////////////////////////////////////// */
/* ----- MOBILE ------ */

@media screen and (max-width: 375px){
    .navbar{
        background-color: white;
        padding: 0;
    }
/* container */

    .container-menu{
        
    }
    .container-menu, .menu-line{
        display: block;
   }

/* cabecalho__menu-haburguer */
    .container-menu__hamburguer{
        position: relative;           
   }

    .lista-menu__hamburguer{
        display: none;
        position: absolute;
        top: 0;
        left: 69%;
        list-style: none;
        padding: 10px;
        margin: 0;
        z-index: 2;
    }

    .link-menu, .menu-line{
        padding-bottom: 8px;
    }
    .close-menu{
        display: none;
    }

    .container__button{
        display: none;
    }

    .container__button:checked ~ .lista-menu__hamburguer{
        display: block;
        background-color: #343A40;
    }

    .container__button:checked ~ .close-menu{
        display: block;             
    }
    
    .navbar-mobile_logoMenu{
        background-color: black;
    }

    .color-home{
        color: #DAFF01;
        font-weight: 700;
        font-size: 16px;      
    }

    .link-menu{
        font-size: 16px;
    }

    .navbar-mobile{
        flex-wrap: wrap;
    }

    .navbar-mobile_search{
        justify-content: center;
        margin: 0;
        padding: 25px;
       
    }

    .text-color{
        color: black;      
    }

    .border-search{
        width: 225px;
    }

   .btn-search{
        font-size: 16px;   
    }
     
    .container-mobille{
        flex-direction: column;
        flex-wrap: wrap;
    }
    
    .img-big{
        display: none;
    }

    .img-mobile{
        display: block;
    }
        
    .carousel-text{
        top: 50%;
    }

    .carousel-title-woman, .carousel-title-man{
        font-size: 32px;
        text-align: center;
        margin-bottom: 8px;
    }

    .carousel-text-man, .carousel-text-woman {
        font-size: 16px;
        text-align: center;
        margin-bottom: 45px;         
    }

    .busca-titulo{
        margin: 24px;
        font-size: 24px;
    }
       .card-buscar_categoria {
        width: 146px;
    }

     .produtos{
        width: 375px;
    }
    
    .card-produtos img{
        width: 298px;
        height: 402px;
    }
  
    .card-text{
        font-size: 13px;       
    }
 
    .novidades{
        margin: 0;
    }
    .novidades-div{
        width: 20em;
        padding: 24px;
    }

    .novidades-titulo{
        font-size: 16px;
    }

    .rodape{
        display: block;
        text-align: center;
    }

    
    
}   